* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gilroy";
    color: #73738D; 
    /*background: #E5E5E5;/* потім видалити */
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}